<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
      <%= f.label :part_number %></br>
      <%= f.text_field :part_number %></br>
      
      <%= f.label :quantity %></br>
      <%= f.text_field :quantity %></br>
      
      <%= f.label :duedate %></br>
      <%= f.date_field :duedate %></br>
      
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
  </div>
  

<% end %>
