<p id="notice"><%= notice %></p>

<h1>Outstanding Evridge Parts</h1>

<%= link_to 'Add a new part', new_part_path, class: "btn btn-primary hidden-print" %></br>

<table class = "table">
  <thead>
    <tr>
      <th><%= link_to "Part Number", :sort => "part_number" %></th>
      <th><%= link_to "Quantity", :sort => "quantity" %></th>
      <th><%= link_to "Due Date", :sort => "duedate" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.part_number %></td>
        <td><%= part.quantity %></td>
        <td><%= part.duedate %></td>
        <td class = "hidden-print"><%= link_to 'Edit', edit_part_path(part) %></td>
        <td class = "hidden-print"><%= link_to 'Delivered', part, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

